In [212]:
# Import packasges numpy,pandas,standard scaler,model_selection,matplotlib,sklearn.preprocess labelencoder

import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [213]:
# import data csv
df=pd.read_csv("CustomerChurning.csv")

In [214]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [215]:
# drop irrelevant columns                                                                                                df.drop(lbls=[3],axs=1)

df=df.drop(labels=["RowNumber","CustomerId","Surname"],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [216]:
# Label encoding of geo,gender                                                                                    

encode=LabelEncoder()
df["Geography"]=encode.fit_transform(df["Geography"])
df["Gender"]=encode.fit_transform(df["Gender"])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [217]:
# dependent and independent variable                                                                                     
x=df.drop(labels=["Exited"],axis=1)
y=df["Exited"]

In [218]:
# Stnd Scaler                                                                                                                     sc=SS() x=sc.f_t()

ss=StandardScaler()
x=ss.fit_transform(x)

In [219]:
# split train and test

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [220]:
#check shape  n*m not m*n
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((8000, 10), (2000, 10), (8000,), (2000,))

In [221]:
#Transpose x_train and x_test                                                                                                            xt=xt.T

x_train=x_train.T
x_test=x_test.T

In [222]:
x_train.shape,x_test.shape

((10, 8000), (10, 2000))

In [223]:
# Reshape Y_train and Y_test                                                                                                     yt=yt.vls.rsp(-2,2)

y_train=y_train.values.reshape(1,-1)
y_test=y_test.values.reshape(1,-1)

In [224]:
# Transpose yt
y_train=y_train.T
y_test=y_test.T

In [225]:
#check shape  n*m not m*n

y_train.shape,y_test.shape

((8000, 1), (2000, 1))

In [226]:
# def activation functions 
def tanh(x):
  return np.tanh(x)

def relu(x):
  return np.maximum(0,x)

def sigmoid(x):
  return 1/(1+np.exp(-x))

In [227]:
# derivative of activation  

def derivative_tanh(x):
  return 1-np.tanh(x)**2

def derivative_relu(x):
  x[x<=0]=0
  x[x>0]=1
  return x

def derivative_sigmoid(x):
  return sigmoid(x)*(1-sigmoid(x))

In [228]:

# Initialise Parameter                                                                                           
def initialise_parameters(n_x,n_h,n_y):
  w1=np.random.randn(n_h,n_x)  #(n1,n0)
  b1=np.random.randn(n_h,1)

  w2=np.random.randn(n_y,n_h)
  b2=np.random.randn(n_y,1)

  parameters={"w1":w1,"b1":b1,"w2":w2,"b2":b2}
  return parameters

In [229]:
#frwrd propogation
def forward_propogation(x,parameters):
  w1=parameters["w1"]
  b1=parameters["b1"]
  w2=parameters["w2"]
  b2=parameters["b2"]

  z1=np.dot(w1,x)+b1
  a1=relu(z1)
  z2=np.dot(w2,a1)+b2
  a2=sigmoid(z2)
  forward_cache={
      "z1":z1,
      "a1":a1,
      "z2":z2,
      "a2":a2
  }
  return forward_cache

In [230]:
# cost function                                                                                             
def binary_cross_entropy(a2,y):
  m=y.shape[1]
  cost=-(1/m)*np.sum(y*np.log(a2)+(1-y)*np.log(1-a2))
  return cost

In [231]:
# Back propogation

In [232]:
def back_propogation(parameters,forward_cache,x,y):

  w1=parameters["w1"]
  b1=parameters["b1"]
  w2=parameters["w2"]
  b2=parameters["b2"]

  a1=forward_cache["a1"]
  a2=forward_cache["a2"]

  m=x.shape[1]

  dz2=a2-y
  dw2=np.dot(dz2,a1.T)/m
  db2=np.sum(dz2,axis=1,keepdims=True)/m
  dz1=np.dot(w2.T,dz2)*derivative_relu(a1)
  dw1=np.dot(dz1,x.T)/m
  db1=np.sum(dz1,axis=1,keepdims=True)/m

  grads={
      "dw1":dw1,
      "db1":db1,
      "dw2":dw2,
      "db2":db2
  }
  return grads

In [233]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
#np.sum(a,axis=1,keepdims=True)

np.sum(a,axis=1,keepdims=True)

array([[ 6],
       [15],
       [24]])

In [234]:
def update_parameters(parameters,grads,learning_rate):
    w1=parameters["w1"]
    b1=parameters["b1"]
    w2=parameters["w2"]
    b2=parameters["b2"]

    dw1=grads["dw1"]
    db1=grads["db1"]
    dw2=grads["dw2"]
    db2=grads["db2"]


    w1 = w1 - learning_rate*dw1
    b1 = b1 - learning_rate*db1
    w2 = w2 - learning_rate*dw2
    b2 = b2 - learning_rate*db2


    parameters={"w1":w1,"b1":b1,"b2":b2,"w2":w2}
    return parameters

In [235]:
# COmplete the model
def model(x,y,n_h,learning_rate,iterations) :
    n_x = x.shape[0]
    n_y = y.shape[0]
    cost_list = []
    parameters = initialise_parameters(n_x,n_h,n_y)

    for i in range(iterations):
        forward_cache=forward_propogation(x,parameters)
        cost =binary_cross_entropy(forward_cache["a2"], y)
        grads=back_propogation(parameters,forward_cache,x,y)
        parameters=update_parameters(parameters,grads,learning_rate)
        cost_list.append(cost)

        if(i%10 ==0):
            print("cost,after iteration :%i :%f" %(i,cost))
    return parameters,cost_list

In [236]:
#Train the model
iterations = 100
n_h = 20

parameters,cost_list=model(x_train,y_train,n_h,0.1,iterations)

C:\Users\deepa\AppData\Local\Temp\ipykernel_28904\688214290.py:4: RuntimeWarning: divide by zero encountered in log
  cost=-(1/m)*np.sum(y*np.log(a2)+(1-y)*np.log(1-a2))
C:\Users\deepa\AppData\Local\Temp\ipykernel_28904\688214290.py:4: RuntimeWarning: invalid value encountered in multiply
  cost=-(1/m)*np.sum(y*np.log(a2)+(1-y)*np.log(1-a2))

cost,after iteration :0 :nan

C:\Users\deepa\AppData\Local\Temp\ipykernel_28904\1847402832.py:9: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))

KeyboardInterrupt:

In [ ]:
def accuracy(x,y,parameters):
    forward_cache = forward_propogation(x,parameters)
    y_pred = forward_cache["a2"] >= 0.5
    acc=(y_pred == y).mean()
    return accuracy